@page "/ReceivingPages/Index"

<PageTitle>Receiving Index</PageTitle>

<h1>Receiving Index</h1>

<hr />

<h2>Info</h2>
<br />
<h3>Student: Daniel Schieren</h3>
<h3>System: Receiving System</h3>

<hr />

<h2>List of Issues</h2>
<br />
<p>No issues</p>

@code {

}
