@page "/"

<PageTitle>Index</PageTitle>

<img src="/images/bb-300.jpg" alt="Binary Bandits Logo" />

<h1>Hello! We are the Binary Bandits</h1>

Welcome to your new app.
<br /><br />
<h2>Meet the team</h2>
<br />

<div>
    <ul>
        <li><h3>Daniel Schieren</h3></li>

            <ul>
                <li>System: Receiving</li>
                <li>Github Account: https://github.com/dsNAIT</li>
            </ul>

    </ul>
</div>

<div>
    <ul>
        <li><h3>Henrique Maximo Archapa</h3></li>
        <ul>
            <li>System: Servicing</li>
            <li>Github Account: https://github.com/archapahm</li>
        </ul>
    </ul>
</div>

<div>
    <ul>
        <li><h3>Team Member: Hunter Mulawka</h3></li>
        <ul>
            <li>System: Sales</li>
            <li>Github Account: https://github.com/hunterm13</li>
        </ul>
    </ul>
</div>

<div>
    <ul>
        <li><h3>Team Member: Niño Angelo Lumapac</h3></li>
        <ul>
            <li>System: Purchasing</li>
            <li>Github Account: https://github.com/mapaks</li>
        </ul>
    </ul>
</div>
