@page "/ServicingPages/Index"

<PageTitle>Servicing Index</PageTitle>

<h1>Servicing Index</h1>

<hr />

<h2>Info</h2>
<br />
<h3>Student: Henrique Maximo Archapa</h3>
<h3>System: Servicing System</h3>

<hr />

<h2>List of Issues</h2>
<br />
<ul>
	<li>RegisterJob( ) is crashing when verifying the cupon</li>

</ul>

@code {

}
