@page "/SalesPages/Index"

<PageTitle>Sales Index</PageTitle>

<h1>Sales Index</h1>

<hr />

<h2>Info</h2>
<br />
<h3>Student: Hunter Mulawka</h3>
<h3>System: Sales System</h3>

<hr />

<h2>List of Issues</h2>
<br />
<p>No issues</p>

@code {

}
