@page "/PurchasingPages/Index"

<PageTitle>Purchasing Index</PageTitle>

<h1>Purchasing Index</h1>

<hr />

<h2>Info</h2>
<br />
<h3>Student: Nino Angelo Lumapac</h3>
<h3>System: Purchasing System</h3>

<hr />

<h2>List of Issues</h2>
<br />
<p>No issues</p>

@code {

}
